/*
* Author: Alex P
* Project Name: Eat the Burger
* Version: 1
* Date:  10.20.17
* GitHub: github.com/itsokayitsofficial/burger
* Heroku:
*/

:root {
    --height-sm: 20px;
    --height-bg: 40px;
}

div {
    padding: var(--height-bg);
}

